html{
    scroll-behavior: smooth;
}
.container {
	display:grid;
	grid-template-columns: .25fr 1fr .25fr;
	grid-template-rows: 100px .25fr 1fr .25fr 1fr .25fr;
}
.head_title {
	font-family: "courier new", monospace;
	color: #9400D3;
	font-size: 26px;
	padding: 5px;
	text-align: center;
	grid-column: 2/ span 1;
	grid-row: 2/ span 1;
}
.title{
	background-attachment: fixed; /* Parallax effect */
	background-image: url("../images/travel.jpeg");      /* Your code here - Link to header.jpg in the images folder */
	background-position: center;  /* Parallax effect */
	background-repeat: no-repeat; /* Parallax effect */
	background-size: cover;       /* Parallax effect */
	color: white;
	height: 400px;                /* Parallax effect */

	/*Your code here - cover the entire row*/
	grid-row: 5;
	grid-column: 1/ -1;

}
.title p{
	color: white;
	padding: 20px;
	grid-column: 2/ span 1;
	text-align: center;
	grid-row: 4/ span 1;
	
}
nav{
	font-family: "montserrat", monospace;
	font-size: 14px;
	/*float: center;*/
	width: 100%;
	grid-column: 1/ -1;
}
ul {
  list-style-type: none;
  width: 100%;
/*  margin-top: 20px;*/
  text-align: center;
}

.navlinks{
  margin-top: 5px;
  /*display: block;*/
/*  padding: 20px;*/
}
.navlinks a{
  text-decoration: none;
}


nav a:hover{
  text-decoration: underline;
  }

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpeg");      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  /*Your code here - cover the entire row*/
  grid-row: 3;
  grid-column: 1/ -1;
}

header p{
  color: black;
  font-size: 24px;
  padding: 100px;
  text-align: center;
}

.skip a{
    position:absolute;
    top: -40px;

  
}

.skip a:focus {
    color: #fff;
    background-color:#000;
    top: 0;
    text-align:center;
    font-size:1.2em;
    /*display: block;*/

}

.gallery_container{
	display: grid;
	grid-template-columns:1fr 1fr; /*1fr 1fr 1fr 1fr;*/
    grid-template-rows: .25fr .25fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
.gallery{
	grid-row: 2/ span 1;
	grid-column: 1/ span 2;
}*/
.gallery1{
	grid-column: 1/ span 1;
	grid-row: 3/ span 1;
}
.gallery1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery2{
	grid-column: 2/ span 1;
	grid-row: 3/ span 1;
}
.gallery2 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery3{
	grid-column: 1/ span 1;
	grid-row: 4/ span 1;
}
.gallery3 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.gallery4{
	grid-column: 2/ span 1;
	grid-row: 4/ span 1;
}
.gallery4 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gallery5{
	grid-column: 1/ span 1;
	grid-row: 5/ span 1;
}
.gallery5 img{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.gallery6{
	grid-column: 2/ span 1;
	grid-row: 5/ span 1;
}
.gallery6 img{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.gallery7{
	grid-column: 1/ span 1;
	grid-row: 6/ span 1;
}
.gallery7 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery8{
	grid-column: 2/ span 1;
	grid-row: 6/ span 1;
}
.gallery8 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.gallery9{
	grid-column: 1/ span 2;
	grid-row: 7/ span 1;
}
.gallery9 img{
	display: block;
	margin-left: auto;
	margin-right: auto;*/
}
body{
	background-color: #F0F8FF;
	font-size: 14px;	
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
h1{
	font-family: "montserrat", monospace;
	color: #9400D3;
	font-size: 26px;
	padding: 5px;
	text-align: center;
	animation-duration: 2s;
	animation-name: bounceIn;
}
h2{
	font-family: "montserrat", monospace;
	color: #9400D3;
	font-size: 26px;
	padding: 5px;
	text-align: center;
}
.about_container{
	display: grid;
	grid-template-columns: .25fr 1fr .25fr;
	grid-template-rows: .25fr .25fr .75fr 1fr 1fr .25fr;
	grid-row-gap: 10px;
}
.about-image{
	margin-left: auto;
	margin-right: auto;
	grid-column: 2/ span 1;
	grid-row: 3/ span 1;
}
.about-text{
	grid-column: 2/ span 1;
	grid-row: 2/ span 1;
}
.armonk{
	grid-column: 2/ span 1;
	grid-row: 4/ span 1;
	margin-left: auto;
	margin-right: auto;
}
.armonk h2 {
	padding-top: 25px;
	text-decoration: underline;
}
.armonk img{
	display: block;
	margin-left: auto; 
	margin-right: auto;
}
.armonk p{
	padding-top: 15px;
	padding-bottom: 25px;
}
.highschool{
	grid-column: 2/ span 1;
	grid-row: 5/ span 1;
}
.highschool img{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.highschool p{
	padding-top: 15px;
}

p {
	font-family: "montserrat", monospace;
	color: navy;
	font-size: 20px;
	text-align: center;
}

.gallery p {
	padding: 0px;
}
.gallery img {
	justify-self: center;

}
.resume_container{
	display:grid;
	grid-template-columns: .25fr 1fr .25fr;
	grid-template-rows: .2fr .05fr 1fr 1fr 1fr;

}
.grid_container{
	grid-column: 2/span 1;
	grid-row: 3/ span 1;
	margin: auto;

}
.links{
	display:none;
}

.projecttitle{
		display: none;
		}
.project1{
	grid-column: 2/ span 1;
	grid-row: 4/ span 1;
	/*margin: auto;*/

}

.project1 img{
	display: block;
	margin: 0 auto;
}
.project2{
	grid-column: 2/span 1;
	grid-row: 5/ span 1;
/*	margin: auto;*/
	justify-items: center;
}
.project2 img{
	grid-column: 2/span 1;
	grid-row: 5/ span 1;
	display: block;
	margin: 0 auto;
}
iframe{
	display: block;
	display: center;
}
.contact_container{
	display: grid;
	grid-template-columns: .25fr 1fr .25fr;
	grid-template-rows: .25fr .25fr 1fr .15fr;
	text-align: center;
}
.contact{
	grid-column: 2/span 1;
	grid-row: 2/ span 1;
}
.contact h1{
	padding-bottom: 25px;
}
.contact p{
	padding-bottom: 15px;
}
form{

}
input{
	grid-column: 2/ span 1;
	grid-row:3/ span 1;
}
textarea{
	grid-column: 2/ span 1;
	grid-row:3/ span 1;
	width: 400px;
	height: 400px;
}
footer{
  background-color: pink;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: -1 / auto;   /*Can you rewrite it?*/
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 600px){
	.container{
		width: 100vw;
		height: 100vh;
		display:grid;
		/*grid-template-columns: 1fr;*/
		grid-template-rows: 100px 100px 900px .5fr .5fr;
	}

	header{
		height: 800px;
		/*grid-column: 1 / -1; */ /*Can you explain what this does?*/
		grid-row: 3/ 4; 
		background-attachment: fixed;  
		background-position: 50% 50%;

	}
	nav{
		grid-row: 1/span 1;
		/*grid-column: 1/ span 1;*/
	}
	.head_title{
		grid-row:2/ span 1;
		/*grid-column: 1/ span 1;*/
	}
	.title{
		grid-row: 4/ span 1;
		/*grid-column: 1/ span 1;*/
		text-align: center;
		background-attachment: fixed; /* Parallax effect */
		background-image: url("../images/travel.jpeg");      /* Your code here - Link to header.jpg in the images folder */
		background-position: center;  /* Parallax effect */
		background-repeat: no-repeat; /* Parallax effect */
		background-size: cover;       /* Parallax effect */
		color: white;
		height: 400px;                /* Parallax effect */

  /*Your code here - cover the entire row*/
  grid-row: 4;
  grid-column: 1/ -1;

	}

	.title p {
		text-align: right;
		overflow: visible;
	
	}

	footer{
		grid-row: -1/ span 1;
		/*grid-column: 1/ span 1;*/
	}
	.gallery_container{
	display: grid;
	grid-template-columns:1fr; /*1fr 1fr 1fr 1fr;*/
    grid-template-rows: .25fr .25fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
	}
	.gallery1{
		grid-column: 1/ span 1;
		grid-row: 3/ span 1;
	}
	.gallery1 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery2{
		grid-column: 1/ span 1;
		grid-row: 4/ span 1;
	}
	.gallery2 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery3{
		grid-column: 1/ span 1;
		grid-row: 5/ span 1;
	}
	.gallery3 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		
	}
	.gallery4{
		grid-column: 1/ span 1;
		grid-row: 6/ span 1;
	}
	.gallery4 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.gallery5{
		grid-column: 1/ span 1;
		grid-row: 7/ span 1;
	}
	.gallery5 img{
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	.gallery6{
		grid-column: 1/ span 1;
		grid-row: 8/ span 1;
	}
	.gallery6 img{
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	.gallery7{
		grid-column: 1/ span 1;
		grid-row: 9/ span 1;
	}
	.gallery7 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery8{
		grid-column: 1/ span 1;
		grid-row: 10/ span 1;
	}
	.gallery8 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery9{
		grid-column: 1/ span 1;
		grid-row: 11/ span 1;
	}
	.gallery9 img{
		display: block;
		margin-left: auto;
		margin-right: auto;*/
	}
	.links{
		display: block;
		text-align: center;
	}
	.resumelink{
		justify-content: center;
	}
	.about-text p {
		font-size: 16px;
	}

	iframe{
		display:none;
	}

}

@media screen and (min-width: 1100px){
	.gallery_container{
	display: grid;
	grid-template-columns:1fr 1fr 1fr; /*1fr 1fr 1fr 1fr;*/
    grid-template-rows: .25fr .25fr 1fr 1fr 1fr;
    grid-gap: 15px;
}
	.gallery{
		grid-row: 2/ span 1;
		grid-column: 2/ span 1;
	}
	.gallery1{
		grid-column: 1/ span 1;
		grid-row: 3/ span 1;
	}
	.gallery1 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery2{
		grid-column: 2/ span 1;
		grid-row: 3/ span 1;
	}
	.gallery2 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery3{
		grid-column: 3/ span 1;
		grid-row: 3/ span 1;
	}
	.gallery3 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		
	}
	.gallery4{
		grid-column: 1/ span 1;
		grid-row: 4/ span 1;
	}
	.gallery4 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.gallery5{
		grid-column: 2/ span 1;
		grid-row: 4/ span 1;
	}
	.gallery5 img{
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	.gallery6{
		grid-column: 3/ span 1;
		grid-row: 4/ span 1;
	}
	.gallery6 img{
		display: block;
		margin-left: auto;
		margin-right: auto;

	}
	.gallery7{
		grid-column: 1/ span 1;
		grid-row: 5/ span 1;
	}
	.gallery7 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery8{
		grid-column: 2/ span 1;
		grid-row: 5/ span 1;
	}
	.gallery8 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.gallery9{
		grid-column: 3/ span 2;
		grid-row: 5/ span 1;
	}
	.gallery9 img{
		display: block;
		margin-left: auto;
		margin-right: auto;*/
	}

	nav{
		grid-column: 1/ -1;
		display: inline;
		padding-top: 25px;
	}

	.navlinks, .current{
		display:inline;
		padding-left: 20px;
		padding-right: 20px;
	}

	.resume_container{
	display:grid;
	grid-template-columns: .25fr 1fr 1fr .25fr;
	grid-template-rows: .2fr .05fr 1fr .2fr 1fr;
	}
	.grid_container{
	grid-column: 2/span 2;
	grid-row: 3/ span 1;
	margin: auto;

}

	.project1{
		grid-column: 2/ span 1;
		grid-row: 5/ span 1;
		/*margin: auto;*/

	}

	.project2{
		grid-column: 3/span 1;
		grid-row: 5/ span 1;
	/*	margin: auto;*/
		justify-items: center;
	}
	.proj_title{
		display:none;
	}
	.projecttitle{
		display: block;
		grid-column:2/ span 2;
		grid-row:4/ span 1;
	}
}
@media(prefers-reduced-motion: reduce){
	@keyframes bounceIn {
  0% {
    transform: none;
    opacity: 1;
  }
  60% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
	}

